<!-- ignore my terrible web design skills, I'll learn it when I feel like it. -->
<!DOCTYPE html>
<html>
    <body style="text-align:center">
        <p style="color:slateblue;font-family:Georgia;font-size:35px;">The first comment on this video was:</p>
        <p style= "color:darkslateblue;font-family:Georgia;font-size:50px;" >{{  name  }}</p>
        <img style="border-radius:50%;width:256px;height:256px;" src= {{  photo_url  }}>
        <p style="font-style:italic;font-size: 20px;text-align:center;padding-right:150px;padding-left:150px;">"{{  text  }}" </p>
        <p style="color:slateblue;font-family:'Times New Roman'; font-size:25px">on {{  date  }}</p>
    </body>
</html>